
<footer class="page-footer font-small stylish-color">
    <div class="container">      
      <div class="row">        
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">        
            <a class="pin-ic" href="https://da-dk.facebook.com/alan.schwaner" target="_blank">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>

            <a class="pin-ic" href="https://www.linkedin.com/in/alan-schwaner-ab7a345b/" target="_blank">
                <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>        
            
            <a class="pin-ic" href="https://www.instagram.com/alanschwaner/" target="_blank">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <a class="pin-ic" href="https://github.com/alanschwaner" target="_blank">
                <mdb-icon fab icon="github-square" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <a class="pin-ic" href="mailto:alan@schwaner.dk">                
                <i class="white-text mr-md-5 mr-3 far fa-envelope" style="font-size: 25px"></i>
              <!-- <mdb-icon fab icon="envelope-square" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon> -->
          </a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
  </footer>
  