<div class="row">
  <div class="col-12"> 
      <div class="display-4 text-center animated fadeInUp mt-5 grey-text spacing">  
        SCHWANER       
      </div>
  </div>
</div>

<div class="row">  
    <div class="col-12 col-md-4 mt-5 mb-2" *ngFor="let overview of overviews">    
      <mdb-card>
        <div class="view rgba-white-slight waves-light " mdbWavesEffect>        
          <mdb-card-img src="{{ overview.image }}" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>      
        <mdb-card-body>        
          <mdb-card-title>
            <h4> {{ overview.overviewtext }} </h4>
          </mdb-card-title>
          <mdb-card-text> 
              {{ overview.text }}
          </mdb-card-text>
          <a href="#" mdbBtn class="stylish-color" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>    
    </div>  
</div>