<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-light grey lighten-5" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-dark" routerLink="/main" mdbWavesEffect>Forside<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-dark" routerLink="/cv" mdbWavesEffect>CV</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-dark" routerLink="/fritid" mdbWavesEffect>Om mig</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link waves-dark" routerLink="/Aktiviteter" mdbWavesEffect>Om mig</a>
        </li>         

      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->